$custom-primary: (
    50 : #e0f3fb,
    100 : #b3e1f5,
    200 : #80ceef,
    300 : #4dbae8,
    400 : #26abe3,
    500 : #009cde,
    600 : #0094da,
    700 : #008ad5,
    800 : #0080d1,
    900 : #006ec8,
    A100 : #f1f8ff,
    A200 : #bedeff,
    A400 : #8bc4ff,
    A700 : #71b7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$custom-accent: (
    50 : #eae6ef,
    100 : #cbc1d7,
    200 : #a998bc,
    300 : #866fa1,
    400 : #6c508c,
    500 : #523178,
    600 : #4b2c70,
    700 : #412565,
    800 : #381f5b,
    900 : #281348,
    A100 : #b084ff,
    A200 : #9051ff,
    A400 : #6f1eff,
    A700 : #5f04ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$custom-warn: (
    50 : #fbe8e0,
    100 : #f5c6b3,
    200 : #efa180,
    300 : #e87b4d,
    400 : #e35e26,
    500 : #de4200,
    600 : #da3c00,
    700 : #d53300,
    800 : #d12b00,
    900 : #c81d00,
    A100 : #fff2f1,
    A200 : #ffc3be,
    A400 : #ff958b,
    A700 : #ff7e71,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

